.credit-card {
  perspective: 1000px;
}

.credit-card-inner {
  position: relative;
  width: 435px;
  height: 270px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.credit-card:hover .credit-card-inner {
  transform: rotateY(180deg);
}

.credit-card-front,
.credit-card-back {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  padding: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.credit-card-front {
  background: linear-gradient(180deg, #5729b9 0%, #065386 100%);
}
.credit-card-back {
  background: linear-gradient(180deg, #5729b9 0%, #065386 100%);
  color: white;
  transform: rotateY(180deg);
  padding: 0px;
}

.credit-card-company {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='50' viewBox='0 0 64 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6348 49.7516V46.4422C11.6348 45.1736 10.8665 44.3462 9.54933 44.3462C8.89075 44.3462 8.1773 44.5668 7.68337 45.2839C7.2992 44.6771 6.75039 44.3462 5.92717 44.3462C5.37836 44.3462 4.82955 44.5117 4.3905 45.1184V44.4565H3.23799V49.7516H4.3905V46.8283C4.3905 45.8906 4.88443 45.4493 5.65276 45.4493C6.4211 45.4493 6.80527 45.9457 6.80527 46.8283V49.7516H7.95777V46.8283C7.95777 45.8906 8.50659 45.4493 9.22004 45.4493C9.98838 45.4493 10.3725 45.9457 10.3725 46.8283V49.7516H11.6348ZM28.7029 44.4565H26.8369V42.857H25.6844V44.4565H24.6417V45.5045H25.6844V47.9314C25.6844 49.1449 26.1783 49.8619 27.4955 49.8619C27.9894 49.8619 28.5382 49.6964 28.9224 49.4758L28.5931 48.483C28.2638 48.7036 27.8796 48.7588 27.6052 48.7588C27.0564 48.7588 26.8369 48.4278 26.8369 47.8762V45.5045H28.7029V44.4565ZM38.4717 44.3462C37.8131 44.3462 37.3741 44.6771 37.0997 45.1184V44.4565H35.9472V49.7516H37.0997V46.7731C37.0997 45.8906 37.4839 45.3942 38.1973 45.3942C38.4168 45.3942 38.6912 45.4493 38.9108 45.5045L39.2401 44.4014C39.0205 44.3462 38.6912 44.3462 38.4717 44.3462ZM23.7087 44.8978C23.1599 44.5117 22.3915 44.3462 21.5683 44.3462C20.2512 44.3462 19.3731 45.0081 19.3731 46.0561C19.3731 46.9386 20.0316 47.435 21.1841 47.6005L21.733 47.6556C22.3366 47.7659 22.6659 47.9314 22.6659 48.2072C22.6659 48.5933 22.2269 48.8691 21.4585 48.8691C20.6902 48.8691 20.0865 48.5933 19.7023 48.3175L19.1535 49.2C19.7572 49.6413 20.5804 49.8619 21.4037 49.8619C22.9403 49.8619 23.8184 49.1449 23.8184 48.152C23.8184 47.2144 23.105 46.7179 22.0074 46.5525L21.4585 46.4973C20.9646 46.4422 20.5804 46.3319 20.5804 46.0009C20.5804 45.6148 20.9646 45.3942 21.5683 45.3942C22.2269 45.3942 22.8855 45.67 23.2147 45.8354L23.7087 44.8978ZM54.3324 44.3462C53.6738 44.3462 53.2348 44.6771 52.9604 45.1184V44.4565H51.8078V49.7516H52.9604V46.7731C52.9604 45.8906 53.3445 45.3942 54.058 45.3942C54.2775 45.3942 54.5519 45.4493 54.7714 45.5045L55.1007 44.4014C54.8812 44.3462 54.5519 44.3462 54.3324 44.3462ZM39.6242 47.104C39.6242 48.7036 40.7218 49.8619 42.4232 49.8619C43.1915 49.8619 43.7403 49.6964 44.2891 49.2552L43.7403 48.3175C43.3013 48.6484 42.8622 48.8139 42.3683 48.8139C41.4353 48.8139 40.7767 48.152 40.7767 47.104C40.7767 46.1112 41.4353 45.4493 42.3683 45.3942C42.8622 45.3942 43.3013 45.5597 43.7403 45.8906L44.2891 44.9529C43.7403 44.5117 43.1915 44.3462 42.4232 44.3462C40.7218 44.3462 39.6242 45.5045 39.6242 47.104ZM50.2712 47.104V44.4565H49.1187V45.1184C48.7345 44.622 48.1857 44.3462 47.4722 44.3462C45.9904 44.3462 44.8379 45.5045 44.8379 47.104C44.8379 48.7036 45.9904 49.8619 47.4722 49.8619C48.2406 49.8619 48.7894 49.5861 49.1187 49.0897V49.7516H50.2712V47.104ZM46.0453 47.104C46.0453 46.1664 46.649 45.3942 47.6369 45.3942C48.5699 45.3942 49.2284 46.1112 49.2284 47.104C49.2284 48.0417 48.5699 48.8139 47.6369 48.8139C46.649 48.7588 46.0453 48.0417 46.0453 47.104ZM32.2701 44.3462C30.7335 44.3462 29.6358 45.4493 29.6358 47.104C29.6358 48.7588 30.7335 49.8619 32.325 49.8619C33.0934 49.8619 33.8617 49.6413 34.4654 49.1449L33.9166 48.3175C33.4775 48.6484 32.9287 48.8691 32.3799 48.8691C31.6664 48.8691 30.953 48.5381 30.7883 47.6005H34.6849V47.1592C34.7398 45.4493 33.7519 44.3462 32.2701 44.3462ZM32.2701 45.339C32.9836 45.339 33.4775 45.7803 33.5873 46.6076H30.8432C30.953 45.8906 31.4469 45.339 32.2701 45.339ZM60.8632 47.104V42.3605H59.7107V45.1184C59.3266 44.622 58.7778 44.3462 58.0643 44.3462C56.5825 44.3462 55.43 45.5045 55.43 47.104C55.43 48.7036 56.5825 49.8619 58.0643 49.8619C58.8326 49.8619 59.3814 49.5861 59.7107 49.0897V49.7516H60.8632V47.104ZM56.6374 47.104C56.6374 46.1664 57.2411 45.3942 58.2289 45.3942C59.1619 45.3942 59.8205 46.1112 59.8205 47.104C59.8205 48.0417 59.1619 48.8139 58.2289 48.8139C57.2411 48.7588 56.6374 48.0417 56.6374 47.104ZM18.1108 47.104V44.4565H16.9583V45.1184C16.5741 44.622 16.0253 44.3462 15.3119 44.3462C13.8301 44.3462 12.6776 45.5045 12.6776 47.104C12.6776 48.7036 13.8301 49.8619 15.3119 49.8619C16.0802 49.8619 16.629 49.5861 16.9583 49.0897V49.7516H18.1108V47.104ZM13.8301 47.104C13.8301 46.1664 14.4338 45.3942 15.4216 45.3942C16.3546 45.3942 17.0132 46.1112 17.0132 47.104C17.0132 48.0417 16.3546 48.8139 15.4216 48.8139C14.4338 48.7588 13.8301 48.0417 13.8301 47.104Z' fill='black'/%3E%3Cpath d='M40.6121 4.24709H23.3245V35.4659H40.6121V4.24709Z' fill='%23FF5F00'/%3E%3Cpath d='M24.4221 19.8565C24.4221 13.5134 27.3857 7.88743 31.9409 4.24707C28.5931 1.59954 24.3672 -1.52588e-05 19.7572 -1.52588e-05C8.83587 -1.52588e-05 0 8.88026 0 19.8565C0 30.8327 8.83587 39.713 19.7572 39.713C24.3672 39.713 28.5931 38.1135 31.9409 35.4659C27.3857 31.8807 24.4221 26.1996 24.4221 19.8565Z' fill='%23EB001B'/%3E%3Cpath d='M63.9366 19.8565C63.9366 30.8328 55.1007 39.713 44.1794 39.713C39.5693 39.713 35.3435 38.1135 31.9957 35.4659C36.6058 31.8256 39.5145 26.1996 39.5145 19.8565C39.5145 13.5135 36.5509 7.88745 31.9957 4.24709C35.3435 1.59955 39.5693 0 44.1794 0C55.1007 0 63.9366 8.93543 63.9366 19.8565Z' fill='%23F79E1B'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  width: 64px;
  height: 50px;
}

.credit-card-info {
  /* background: black; */
  justify-content: flex-start;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex: 0 100%;
}

.credit-card-chip {
  background-image: url("data:image/svg+xml,%3Csvg width='68' height='50' viewBox='0 0 68 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='68' height='50' rx='8' fill='%23FFFAE1'/%3E%3Cline y1='16.5' x2='68' y2='16.5' stroke='%23614F2C' stroke-opacity='0.28'/%3E%3Cline y1='25.5' x2='68' y2='25.5' stroke='%23614F2C' stroke-opacity='0.28'/%3E%3Cline y1='34.5' x2='68' y2='34.5' stroke='%23614F2C' stroke-opacity='0.28'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  width: 68px;
  height: 50px;
}

.credit-card-number {
  color: #ffffff;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-size: 37px;
}

.credit-card-valid {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 45px;
}

.credit-card-valid-text {
  color: rgba(255, 255, 255, 0.5);
  width: 38px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  margin-right: 6px;
  font-weight: bold;
}

.credit-card-valid-date {
  color: #ffffff;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-size: 1.25rem;
}

.credit-card-holder {
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.credit-card-back-info {
  display: flex;
  padding: 35px;
  justify-content: space-around;
}

.barcode {
  width: 100%;
  height: 60px;
  margin-top: 29px;
  background: #272727;
}

.signature {
  width: 200px;
  background: #ffffff;
  border-radius: 12px;
}

.code {
  padding: 20px;
  background: #ffffff;
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  border-radius: 12px;
}
